<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
       <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>hello spring boot with security</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="注销"/>
</form>


<a href="" onclick="data()"> 点击测试权限 </a>
<br/>
<br/>
<br/>
<a href="" onclick="dataNo()"> 点击测试权限 </a>

<script th:inline="javascript">  

 function data(){
 
   $.ajax({
            url: "/ajax",
            type:"GET",
            dataType:"json",
            cache: false,  
            async: true,  
       
            success :function (data,textStatus) {
                console.log(data);
                if(data.status == 0){
                   alert("获取数据成功.");
                }else{
                    alert(data.msg);
                }

            },
            error:function (jqXHR , textStatus, errorThrown) {
               alert('网络错误!');
            }
        });
 }
  
  
  function dataNo(){
 
   $.ajax({
            url: "/ajax1",
            type:"GET",
            dataType:"json",
            cache: false,  
            async: true,  
            timeout : 3000,
            success :function (data,textStatus) {
                console.log(data);
                if(data.status == 0){
                   alert("获取数据成功.");
                }else{
                    alert(data.msg);
                }

            },
            error:function (jqXHR , textStatus, errorThrown) {
               alert('网络错误!');
            }
        });
 } 

</script>

</body>
</html>